<div class="darshan-main">
    <div class="darshan-top">
        <h2>Darshanam Booking</h2>
        <form [formGroup]="darshanBooking">
            <label for="inputtemplename" class="form-label">Select Temple<span style="color: red;padding-left: 3px;font-size: 15px;">*</span></label>
            <select class="dropdown-custom" formControlName="templeName" (change)="dropDownChange()">
                <option value="0">Select</option>
                <option *ngFor="let name of templeNames; index as i" value="{{ i+1 }}">{{ name }}</option>
            </select>
            <label for="inputtype" class="form-label">Select Darshanam Type<span style="color: red;padding-left: 3px;font-size: 15px;">*</span></label>
            <div *ngIf="selectedValue == 0">
                <p>
                    No Darshanam found. Please select temple name first to get types of darshanams.
                </p>
            </div>

            <div *ngIf="selectedValue != 0">
                <div>

                </div>
            </div>
        </form>
    </div>
</div>