<div style="width: 100%;">
    <div class="service-heading">
        <h1>Temples</h1>
        <img src="/assets/head.svg" alt="-" style="height: 20px;">
    </div>
    <div class="template">
        <div class="template-box">

            <div class="image">
                <img src="/assets/temple-img.jpg" alt="-" height="195px">
            </div>
            <div class="text-template">
                <a style="text-decoration: none;" href="/temple/id"><h2 style="color: black;">Temple Name</h2></a>
                <p>Address, City, State, Zip Code, 535737</p>
                <a href="/temple/id" style="text-decoration: none;"><button class="button-custom">View Details <img style="margin-left: 5px;" src="/assets/orange-arrow.svg" alt="-" width="19px"></button></a>
            </div>

        </div>
    </div>
</div>