<div style="width: 100%;">
    <div class="service-heading">
        <h1>My Bookings</h1>
    </div>

    <div class="template">
        <div class="template-box">
            <h2>Darshanam</h2>
            <div class="tablediv">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th scope="col">Temple Name</th>
                            <th scope="col">Darshan Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of darshanBookings">
                            <td>{{item.templeName}}</td>
                            <td>{{item.darshanType}}</td>
                            <td>{{item.date | date: 'dd-MMM-yyyy'}}</td>
                            <td>{{item.time}}</td>
                            <td><a href="{{item.id}}">View</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p *ngIf="darshanBookings?.length == 0" class="message">
                Sorry! There seems to be no current bookings.
            </p>
            <div style="padding-bottom: 20px;"></div>
        </div>
    </div>
    <div class="template">
        <div class="template-box">
            <h2>Seva</h2>
            <div class="tablediv">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th scope="col">Temple Name</th>
                            <th scope="col">Seva Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of sevaBookings">
                            <td>{{item.templeName}}</td>
                            <td>{{item.sevaType}}</td>
                            <td>{{item.date | date: 'dd-MMM-yyyy'}}</td>
                            <td>{{item.time}}</td>
                            <td><a href="{{item.id}}">View</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p *ngIf="sevaBookings?.length == 0" class="message">
                Sorry! There seems to be no current bookings.
            </p>
            <div style="padding-bottom: 20px;"></div>
        </div>
    </div>
    <div class="template">
        <div class="template-box">
            <h2>Donations</h2>
            <div class="tablediv">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th scope="col">Temple Name</th>
                            <th scope="col">Date of Donation</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Donated Person</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of donations">
                            <td>{{item.templeName}}</td>
                            <td>{{item.date | date: 'dd-MMM-yyyy'}}</td>
                            <td>Rs. {{item.amount}}/-</td>
                            <td>{{item.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p *ngIf="donations?.length == 0" class="message">
                Sorry! There seems to be no donations.
            </p>
            <div style="padding-bottom: 20px;"></div>
        </div>
    </div>
</div>