<mat-toolbar class="nav-top navbar">
  <div class="nav-top-left">
    <h1 style="float: left;">Temples Portal</h1>
  </div>
  <div style="width: 40%;">
    <img style="margin-left: 43%" src="../assets/nav-image.png" width="125px" height="70px">
  </div>
  <div class="nav-top-right">
    <a *ngIf="!isLoggedIn" class="button-custom" href="/login">
      <img src="../assets/person.svg" alt="icon" height="20px">
      <div style="color: white; font-weight: 600; margin-left: 5px;">SIGN IN
      </div>
    </a>
    <button *ngIf="isLoggedIn" class="button-custom" [matMenuTriggerFor]="menu">
      <img src="../assets/person.svg" alt="icon" height="20px">
      <div style="color: white; margin-left: 10px; margin-right: 10px;">{{userName}}</div>
      <img src="../assets/dropdown.png" alt="icon" height="8px">
    </button>
    <mat-menu #menu="matMenu" style="font-family: inherit;">
      <a href="/mybookings" mat-menu-item>Bookings</a>
      <a href="/under-construction" mat-menu-item>Profile</a>
      <button (click)="LogOut()" mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-toolbar class="navbar nav-bottom">
  <a href="/" class="menu-button">
      Home
  </a>
  <a href="/temples" class="menu-button">
    Temples
</a>
  <a href='/darshan' class="menu-button">
    Darshanam
  </a>
  <a href="/sevas" class="menu-button">
    Sevas
  </a>
  <a href='/accomodation' class="menu-button">
    Accomodation
  </a>
  <a href='/donation' class="menu-button">
    Donation
  </a>
  <a href='/support' class="menu-button">
    Contact Us
  </a>
</mat-toolbar>


<router-outlet></router-outlet>
 


<footer class="footer-custom">

  <div>

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

      </div>

      <div class="col-md-3 mb-md-0 mb-3">

          <h3 class="text-uppercase">Online Booking</h3>

          <ul class="list-unstyled">
            <li>
              <a class="footer-link" href='/darshan'>Darshanam Tickets</a>
            </li>
            <li>
              <a class="footer-link" href='/sevas'>Seva Tickets</a>
            </li>
            <li>
              <a class="footer-link" href='/accomodation'>Accomodation</a>
            </li>
          </ul>

        </div>

        <div class="col-md-3 mb-md-0 mb-3">

          <h3 class="text-uppercase">Support</h3>

          <ul class="list-unstyled">
            <li>
              <a class="footer-link" href='/support'>Contact Us</a>
            </li>
          </ul>

        </div>
    </div>

  </div>

  <div class="footer-copyright" style="text-align: center;">© 2024 Copyright: Temples Portal
  </div>

</footer>