<div style="width: 100%;">
    <div class="service-heading">
        <h1>Devotee Services</h1>
        <img src="/assets/head.svg" alt="-" style="height: 20px;">
    </div>
    <div class="template">
        <div class="template-box">

            <div class="image">
                <img src="/assets/darshan.svg" alt="-" height="65px">
            </div>
            <div class="text-template">
                <h2>Darshanam</h2>
                <p>An auspicious first glance at the divinity in the temple is called Darshanam. A darshanam allows devotees to transcend into a peaceful moment.</p>
                <a href="/darshan" style="text-decoration: none;"><button class="button-custom">Book Now <img style="margin-left: 5px;" src="/assets/orange-arrow.svg" alt="-" width="19px"></button></a>
            </div>

        </div>
        <div class="template-box">

            <div class="image">
                <img src="/assets/seva.svg" alt="-" height="65px">
            </div>
            <div class="text-template">
                <h2>Seva</h2>
                <p>Perform Seva/Abhishekam/Homam, etc by Booking it Online and avoid waiting at the temple</p>
                <a href="/sevas" style="text-decoration: none;"><button class="button-custom">Book Now <img style="margin-left: 5px;" src="/assets/orange-arrow.svg" alt="-" width="19px"></button></a>
            </div>

        </div>
        <div class="template-box">

            <div class="image">
                <img src="/assets/acc.svg" alt="-" height="65px">
            </div>
            <div class="text-template">
                <h2>Accomodation</h2>
                <p>Make your pilgrimage hassle-free by booking accommodation in advance.</p>
                <a href="/accomodation" style="text-decoration: none;"><button class="button-custom">Book Now <img style="margin-left: 5px;" src="/assets/orange-arrow.svg" alt="-" width="19px"></button></a>
            </div>
        </div>
        <div class="template-box">

            <div class="image">
                <img src="/assets/ehundi.svg" alt="-" height="65px">
            </div>
            <div class="text-template">
                <h2>E-Hundi</h2>
                <p>Contribute to the welfare of Indian Temples through donations.</p>
                <a href="/donation" style="text-decoration: none;"><button class="button-custom">Donate us <img style="margin-left: 5px;" src="/assets/orange-arrow.svg" alt="-" width="19px"></button></a>
            </div>

        </div>
    </div>
</div>